/**
 * Styles using selectors and classnames commonly used on the site, across platforms.
 */

.article-headline {
    text-align: center;
    color: #333;
    font-family: "Whitman Display", Georgia, Times, serif;
    font-size: 5.5em;
    line-height: 102%;
    margin-top: 30px;
    margin-bottom: 16px;
    font-weight: normal;
    letter-spacing: -1.85px;
}
.article-subhead {
    max-width: 660px;
    margin: 0 auto;
    padding: 18px 0;
    text-align: center;
    font-size: 1.55em;
    line-height: 130%;
    font-family: "Whitman Display",Georgia,Times,serif;
}
.article-byline-mod *{
	display: inline-block;
}
.article-byline-mod {
    font-family: "Benton Sans",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 12px;
    margin-top: 12px;
    .article-byline{
		border-right: 1px solid #d3d3d3;
		padding-right: 1em;
		margin-right: 1em;
    }
    .article-dateline{
	    color: #909090;
	    font-size: 10px;
	    font-weight: bold;
	    letter-spacing: 0.5px;
	    text-transform: uppercase;	
    }
}

@media screen and (max-width: 767px) /* Mobile */ {
	body{
		padding:0 10px;
	}
	.article-headline {
	    font-size: 5em;
	    line-height: 100%;
	    margin-top: 0;
	}
	.article-subhead {
	    margin: 0 auto;
	    padding: 16px 0;
	    font-size: 1.5em;
	}
	.article-byline-mod {
	    font-size: 1em;
	    line-height: 1.25em;
	    strong{
	    	display:block;
	    }
	    .article-byline{
			border-right: none;
			padding-right: 0;
			margin-right: 0;
    	}
        .article-dateline{
		    font-size: .9em;
		    font-weight:normal;
    	}
	}
}

