<p>Data provided by the <a href="http://vote.minneapolismn.gov/results/2017/2017-mayor-tabulation" target="_blank" rel="noopener">City of Minneapolis</a>.  The "Other" group of candidates are the candidates that were eliminated first as they were all mathematically impossible to be the winner; these included the following candidates:

  Charlie Gers,
  Aswar Rahman,
  Al Flowers,
  L.A. Nik,
  David Rosenfeld,
  Captain Jack Sparrow,
  Gregg A. Iverson,
  Ronald Lischeid,
  David John Wilson,
  Troy Benjegerdes,
  Ian Simpson, and
  write-ins.</p>
