<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('./_head.ejs.html')
  </head>

  <body>
    <!-- Screen reader announcements -->
    <div aria-live="polite" id="announcer" class="sr-only"></div>

    <!-- Skip to main content -->
    <a href="#main-content" class="to-main-content sr-only">Skip to main content</a>

    <!-- Header -->
    <header class="project-header" role="banner lg-container">
      @@include('./_header.ejs.html')
    </header>

    <!-- Main content here -->
    <main id="main-content" class="content lg-container" role="main">
      <div>
        <h1 class="mobileSubhead">The Candidates</h1>
          <iframe class="mobileGraphic" frameBorder="0" src="http://static.startribune.com.s3.amazonaws.com/assets/news/mayoralShakedown/mobileGraphics/headerImg.html"/>
     </div>
      <div>
          <h1 class="mobileSubhead">Round 1</h1>
          <iframe class="mobileGraphic" frameBorder="0" src="http://static.startribune.com.s3.amazonaws.com/assets/news/mayoralShakedown/mobileGraphics/round1.html"/>
          <p></p>
      </div>
        
      <div>
          <h1 class="mobileSubhead">Round 2</h1>
          <iframe class="mobileGraphic" frameBorder="0" src="http://static.startribune.com.s3.amazonaws.com/assets/news/mayoralShakedown/mobileGraphics/round2.html"/>
          <p></p>
      </div>
      <div>
          <h1 class="mobileSubhead">Round 3</h1>
          <iframe class="mobileGraphic" frameBorder="0" src="http://static.startribune.com.s3.amazonaws.com/assets/news/mayoralShakedown/mobileGraphics/round3.html"/>
          <p></p>
      </div>
      <div>
          <h1 class="mobileSubhead">Round 4</h1>
          <iframe class="mobileGraphic" frameBorder="0" src="http://static.startribune.com.s3.amazonaws.com/assets/news/mayoralShakedown/mobileGraphics/round4.html"/>
          <p></p>
      </div>
      <div>
          <h1 class="mobileSubhead">Round 5</h1>
          <iframe class="mobileGraphic" frameBorder="0" src="http://static.startribune.com.s3.amazonaws.com/assets/news/mayoralShakedown/mobileGraphics/round5.html"/>
          <p></p>
      </div>        
        

    </main>

    <!-- Footer -->
    <footer role="contentinfo" class="lg-container">
      @@include('./_footer.ejs.html')
    </footer>

  </body>
</html>
